name: pottery_example
description: "An example app of Pottery."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.6.2
  flutter: ">=3.27.4"

dependencies:
  flutter:
    sdk: flutter

  grab: ^1.0.0-dev.1
  pottery:
    path: ..

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
