name: Coverage

on:
  workflow_dispatch:

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
#          channel: stable
          flutter-version: 3.10.0

      - name: Run tests for pot
        run: |
          dart pub get
          dart pub global activate coverage
          dart run coverage:test_with_coverage
        working-directory: packages/pot

      - name: Run tests for pottery
        run: |
          flutter pub get
          flutter test --coverage
        working-directory: packages/pottery

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
